name: python cicd
on:
  push:
    branches:
      - develop

jobs:
  deployment:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - server: "121.133.17.77"
            user : "admin"
            pwd : "qwe123"
        
    steps:
      - name: ssh connect to server
        continue-on-error: true
        run: |
          lsof -t -i :22 | xargs kill -9
          ssh  ${{ matrix.user }}@${{ matrix.server }}
          echo "success"
      
