name: python cicd
on: [push]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: develop
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          check-latest: true
      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v3
      - name: Apply black
        uses: psf/black@stable
      - name: Run unit test
        run: python -m unittest
  deploy:
    runs-on: windows-selfhosted
    steps:
      - name: Run venv
        run: python -m venv venv
      - name: Set venv
        run: venv\Scripts\activate
      - name: Install Python dependencies
        uses: py-actions/py-dependency-install@v3
      - name: Run Server
        run: |
          python -m uvicorn app.main:app --reload