name: python cicd
on:
  push:
    branches:
      - develop

jobs:
  deployment:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - server: "121.133.17.77"
            user : "admin"
            pwd : "qwer123"
            port : "22"
        
    steps:
      - name: connect and go cd
        continue-on-error: true
        #uses: JungwooLee-GGQ/github-action-ssh@feature-command
        uses: fifsky/ssh-action@master
        #uses: garygrossgarten/github-action-ssh@release
        id: ssh
        with:
          host: ${{ matrix.server }}
          user: ${{ matrix.user }}
          key: ${{ secrets.KEY}}
          #port: ${{ matrix.PORT }}
          command: |
            cd Documents\\GitHub\\cd-test
            git stash
            git checkout develop
            git pull
