name: python cicd
on:
  push:
    branches:
      - develop

jobs:
  deployment:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - server: "121.133.17.77"
            user : "admin"
            pwd : "qwer123"
            port : "22"
        
    steps:
      - name: connect and go cd
        #uses: JungwooLee-GGQ/github-action-ssh@feature-command
        uses: Sithi5/remote-ssh-commands-action@main
        #uses: garygrossgarten/github-action-ssh@release
        with:
          SSH_HOST: ${{ matrix.server }}
          SSH_USER: ${{ matrix.user }}
          SSH_PRIVATE_KEY: ${{ secrets.KEY}}
          SSH_PORT: 22
          SSH_REMOTE_COMMANDS: cd Documents;cd;echo "Hello World"
            
            
      
          
      
