name: python cicd
on:
  push:
    branches:
      - develop

jobs:
  deployment:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - server: "121.133.17.77"
            user : "admin"
            pwd : "qwer123"
            port : "22"
        
    steps:
      - name: ls -a via ssh
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: |
            cd Documents\\GitHub\\ai-python-coach-extraction-server/
            git stash/
            git checkout develop/
            git pull/
          host: ${{ matrix.server }}
          username: ${{ matrix.user }}
          privateKey: ${{ secrets.KEY}}
          
      
