name: python cicd
on:
  push:
    branches:
      - develop

jobs:
  deployment:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - server: "121.133.17.77"
            user : "admin"
            pwd : "qwer123"
            port : "22"
        
    steps:
      - name: connect and go cd
        uses: garygrossgarten/github-action-ssh@0.7.0
        with:
          host: ${{ matrix.server }}
          username: ${{ matrix.user }}
          privateKey: ${{ secrets.KEY}}
          command: |
            echo "Testing"\
            echo "DD"
      
          
      
