name: python cicd
on:
  push:
    branches:
      - develop

jobs:
  deployment:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - server: "121.133.17.77"
            user : "admin"
            pwd : "qwer123"
            port : "22"
        
    steps:
      - name: connect and go cd
        #uses: JungwooLee-GGQ/github-action-ssh@feature-command
        uses: mnival/ssh-remote-commands-action@v0.0.1
        #uses: garygrossgarten/github-action-ssh@release
        id: ssh
        with:
          ssh_host: ${{ matrix.server }}
          ssh_user: ${{ matrix.user }}
          ssh_key: ${{ secrets.KEY}}
          ssh_commands: |
            cd Documents\\GitHub\\ai-python-coach-extraction-server
            #git stash
            git checkout develop
            #git pull
            #cd
            
      
          
      
