name: python cicd
on:
  push:
    branches:
      - develop

jobs:
  deployment:
    runs-on: self-hosted
    strategy:
      matrix:
        include:
          - server: "121.133.17.77"
            user : "admin"
            pwd : "qwer123"
            port : "22"
        
    steps:
      - name: connect and go cd
        #uses: JungwooLee-GGQ/github-action-ssh@feature-command
        uses: huaweicloud/ssh-remote-action@v1.0.0
        #uses: garygrossgarten/github-action-ssh@release
        with:
          ipaddr: ${{ matrix.server }}
          username: ${{ matrix.user }}
          password: ${{ secrets.KEY}}
          commands: | 
            cd Documents
            cd
            
            
      
          
      
